# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
dist/
build/
*.egg

# Data
data/raw/
data/processed/
*.csv
*.parquet
data/logs/*.jsonl
data/reports/

# Modèles & MLflow
mlruns/
mlartifacts/
mlflow.db
*.pkl

# Environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Docker
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints/
notebooks/*.ipynb

# OS
.DS_Store
Thumbs.db

# Logs
*.log
