# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Data
data/raw/
data/processed/
*.csv
*.parquet

# Modèles & MLflow
mlruns/
mlartifacts/

# Environnement
.env

# IDE
.vscode/
.idea/

# Claude
CLAUDE.md
